@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
font-family: 'Montserrat', sans-serif;
font-weight: 200;
color: #fafafa;
background-color: rgb(97, 96, 96);
}
/*image*/
#home-image {
    height: 800px;
    width: 100%;
    background: url('../images/first-image-coding-club.jpeg') no-repeat center center;
}
/*Structure */
h1 {
    font-size: 220%;
    color: white;
    margin-left: 5%;
}
h2 {
    font-size: 2.5rem;
    letter-spacing: 1.5px;
}
h3 {
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    line-height: 35px;
}

h2, h3, h4 {
    color:#fafafa;
}
h4 {
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    line-height: 35px;
    margin-bottom: 50px;  
}
p {
    font-size: 1.5rem;
    line-height: 20px;
    letter-spacing: 1.5px;
    color: black;
    margin-bottom: 3rem;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.left-column {
    float: right;
}
.right-column {
    float: right;
}
.margin-top {
    margin-top: 5rem;
}
.margin-bottom {
    margin-bottom: 5rem;
}
.section {
    padding: 10px;
}
a:hover {
    color: black;
}
a:visited,
a:link,
a:active {
    text-decoration: none;
}
/*Navigation*/
@media screen and (max-width: 1200px) {
   #menu li {
        text-align: center;
        position: relative;
        width: 100%;
        padding: 1em 0;
        
    }
}

@media screen and (max-width: 1200px) {
    nav {
         margin-bottom: 15em;
     }
 }

@media screen and (max-width: 1200px) {
    h1 { text-align: center;
        position: relative;
        margin-left: 0%;
        padding: 3rem;
     }
 }


#menu {
    font-size: 120%;
    letter-spacing: 4px;
    margin-top: -3em;
}
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 2em;
    position: relative;
}
nav ul li a {
    color: white;
}
/*Reason why to choose us section*/

#reasons {
    text-align: center;
   font-size: xx-large;
   margin-left: 10%;
    margin-right: 10%;

}

/*Sign up form*/
.black-background {
    background: rgb(43, 42, 42);
}
#sign-up {
    position: relative;
    text-align: center;
    max-width: 700px;
    padding: 25px;
	border-radius: 8px;
	margin: 25px auto;
}

input[type=submit] {
	margin-top: 20px;
    margin-bottom: 20px;
	margin-left: 0.75rem;
	padding: 0.75rem;
	background-color: #26b613;
	color: white;
	border: none;
	border-radius: 5px;
}
.block-label {
	display: block;
}
label {
    margin: 10px 15px 5px 0;
    color: black;
}
.feedback {
    max-width: 700px;
	padding: 25px;
	border-radius: 8px;
	margin: 25px auto;
	background-color:antiquewhite;
}
#secondsubmit {
    float: right;
    margin: 0 auto;
}
/*textarea css borrowed from stackoverflow article*/
textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
}
/*iframe map*/

/* Code structure for iframe imported from Google Map Generator */
.mapouter  {
    position:relative;
    text-align:right;
    height:400px;
    width:100%;
}
.gmap_canvas  {
    overflow:hidden;
    background:none
    !important;
    height:400px;
    width:100%;
}
/* Footer */
footer {
	background-color:rgb(161, 109, 46);
	padding: 1em;
	text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
    right: 0;
}
.fa {
    padding: 5px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 20%;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
    margin-left: 1em;
    margin-right:1em;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
    margin-left: 1em;
    margin-right:1em;
  }
  .fa-instagram {
    background: #fafafa;
    color: #517fa4;
    margin-left: 1em;
    margin-right:1em;
}