@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
font-family: 'Montserrat', sans-serif;
font-weight: 200;
color: #fafafa;
background-color: rgb(97, 96, 96);
}
/*image*/
#home-image {
    height: 800px;
    width: 100%;
   background: url('../images/first-image-coding-club.jpeg') no-repeat center center;
}
/*Structure */
h2 {
    font-size: 2.5rem;
    margin-bottom: 50px;
}
h3 {
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    line-height: 35px;
    margin-bottom: 50px;
}
h2, h3, h4 {
    color:#fafafa;
}
h4 {
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    line-height: 35px;
    margin-bottom: 50px;  
}
p {
    font-size: 1.5rem;
    line-height: 20px;
    letter-spacing: 1.5px;
    color: black;
    margin-bottom: 3rem;
}

.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.left-column {
    float: right;
}
.right-column {
    float: right;
}
.w100 {
    width: 100%;
}
.margin-top {
    margin-top: 5rem;
}
.margin-bottom {
    margin-bottom: 5rem;
}
.section {
    padding: 10px;
}
#logo {
    font-size: 220%;
    line-height: 80px;
    color: white;
    margin-left: 10%;
}
/*Navigation*/
#menu {
    font-size: 120%;
    letter-spacing: 4px;
}
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
    line-height: 80px;
    position: relative;
}
nav ul li a {
    color: white;
}
/*Reason why to choose us section*/
#reasons-img {
    background: url('../images/coding-club-home.jpeg') no-repeat center center;
    float: right;
    height: 550px;
    width: 50%;
    margin-top: 5rem;
}
#reasons-left {
    width: 33%;
    float: left;
    margin-left: 10%;   
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
}
/*Sign up form*/
#sign-up {
    width: 100%;
    margin-top: 47rem;
    position: relative;
    text-align: center;
}
fieldset {
    border: none;
    margin-top: 20px;
}
input[type=submit] {
	margin-top: 20px;
    margin-bottom: 20px;
	margin-left: 0.75rem;
	padding: 0.75rem;
	background-color: #26b613;
	color: white;
	border: none;
	border-radius: 5px;
}
.block-label {
	display: block;
}
legend {
	font-size: large;
	font-weight: 600;
    text-transform: uppercase;
	margin: 20px 0 10px 0;
    color: black;
    letter-spacing: 1.5px;
}
label {
    margin: 10px 15px 5px 0;
    color: black;
}
#feedback {
    width: 700px;
	padding: 25px;
	border-radius: 8px;
	margin: 25px auto;
	background-color:antiquewhite;
}
/*iframe map*/

/* Code structure for iframe imported from Google Map Generator */
.mapouter  {
    position:relative;
    text-align:right;
    height:400px;
    width:100%;
}
.gmap_canvas  {
    overflow:hidden;
    background:none
    !important;
    height:400px;
    width:100%;
}
footer {
	background-color:antiquewhite;
	padding: 1em;
	text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
	z-index: 3;
}