@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
font-family: 'Montserrat', sans-serif;
font-weight: 200;
color: #fafafa;
background-color: rgb(97, 96, 96);
}
/*image*/
#home-image {
    height:800px;
    width: 100%;
   background: url('../images/first-image-coding-club.jpeg') no-repeat center center;
}
/*Structure */
h2 {
    font-size: 2.5rem;
    margin-bottom: 50px;
}
h3 {
    font-size: 1.5rem;
    letter-spacing: 2px;
    line-height: 35px;
    margin-bottom: 50px;
}
h2, h3, h4 {
    color:#fafafa;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.left-column {
    float: right;
}
.right-column {
    float: right;
}
.w100 {
    width: 100%;
}
.margin-top {
    margin-top: 5rem;
}
.section {
    padding: 10px;
}
#logo {
    font-size: 250%;
    line-height: 80px;
}
/*Navigation*/
#menu {
    font-size: 150%;
    letter-spacing: 4px;
}
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
    line-height: 80px;
    position: relative;
}
/*Reason why to choose us section*/
#reasons-img {
    background: url('../images/coding-club-home.jpeg') no-repeat center center;
    float: right;
    height: 500px;
    width: 50%;
    margin-top: 5rem;
}
#reasons-left {
    width: 33%;
    float: left;
    margin-left: 10%;   
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
}
/*Sign up form*/
#sign-up {
    width: 100%;
    margin-top: 47rem;
    position: relative;
    text-align: center;
}
fieldset {
    border: none;
    margin-top: 20px;
}
input[type=submit] {
	margin-top: 20px;
    margin-bottom: 20px;
	margin-left: 0.75rem;
	padding: 0.75rem;
	background-color: #26b613;
	color: white;
	border: none;
	border-radius: 5px;
}